.titleHeader {
    font-size: 4rem;
    color: white;
}

.link {
    color: #999999;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.navList { 
    display: flex !important;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
}

.navItem {
    color: lightseagreen;
    font-size: 1.3rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.navItem:hover {
    color: #666666
}

.activenavitem {
    color: #333333
}

.navstyle {
    background-color: stonewhite;
}

.headerlinks {
    color: white !important;
    margin-right: 1.3rem !important;
    font-weight: bold !important;
}

.headerlinks:hover {
color: lightblue !important;
margin-right: 1.3rem !important;

}

.li {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /* Column | row */
  }
