.container {
    margin: 0 auto;
    max-width: 80%;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 0rem;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content { 
    flex-grow: 1;
}
